<nav>
  <div class="nav-wrapper">
    <a class="brand-logo">
      <img src="img/computer87.svg" width="25" height="25">
      App<sup>TM</sup>
    </a>
    <a href="#" data-activates="mobile-demo" class="button-collapse">
      <i class="mdi-navigation-menu"></i>
    </a>
    <ul class="side-nav" id="mobile-demo">
      <li><a class="menu-item" ui-sref="main">Home</a></li>
      <li><a class="menu-item" ui-sref="settings">Settings</a></li>
      <li><a class="menu-item" ui-sref="about">About</a></li>
    </ul>
  </div>
</nav>